{{ define "taskList" }}

    {{range .}}
        <li class="flex items-center gap-2 mb-2">
            <input 
                type="checkbox" 
                hx-post="/completeTask"
                hx-target="#taskList"
                hx-swap="innerHTML"
                hx-vals='{"task": "{{.Task}}", "completed": {{if .Completed}}false{{else}}true{{end}}}' 
                {{if .Completed}}checked{{end}}
                class="w-4 h-4"
            >
            <span class="{{if .Completed}}line-through{{end}}">{{.Task}}</span>
        </li>
    {{end}}

{{end}}
